---
---

@import "{{ site.theme }}";

.page-header {
  h1 {
    a, a:visited {
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.main-content {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold;
  }
}
